body{
  background-color: #2e3442;
  font-family: Helvetica;
  font-size: 14pt;
}

h1{
  color: #babcc1;
  left: 20%;
}

h2{
  color: #87898e;
}

p{
  color: #a4b8d8;
}

a{
  color: #515151;
}

#intro{
  position: static;
  left: 20vh;
  width: 60%;
}

.shortDes{
  display: none;
}

.image-frame {
	float: left;
	position: relative;
	margin: 5px;
}
.image-frame .image-caption {
	display: none;
  text-align: center;
  vertical-align: middle;
	opacity: 0.8;
	background:#3A3A3B;
	width: 100%;
  height: 100%;
	position: absolute;
	padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navBar{
  position: sticky;
  top: 0%;
  right: 0%;
}

#Stanford{
  color: #e0e1e2;
}

#DoubleD{
  color: #e0e1e2;
  position: sticky;
}

#anniTitle{
  color: #babcc1;
  font-size: 100px;
  position: fixed;
  top: 75px;
  left: 50px;
}

#titleX{
  cursor: pointer;
  color: #babcc1;
  font-size: 200px;
  position: fixed;
  top: 50px;
  left: 600px;
  z-index: 4;
  display: true;
}

#titleE{
  cursor: pointer;
  color: #babcc1;
  font-size: 150px;
  position: fixed;
  top: 200px;
  left: 50px;
  z-index: 1;
  display: none;
}

#titleM{
  cursor: pointer;
  color: #babcc1;
  font-size: 150px;
  position: fixed;
  top: 200px;
  left: 50px;
  z-index: 2;
  display: none;
}

#titleC{
  cursor: pointer;
  color: #babcc1;
  font-size: 150px;
  position: fixed;
  top: 200px;
  left: 50px;
  z-index: 3;
  display: none;
}

#DFXIntro{
  position: fixed;
  width: 500px;
  top: 100px;
  right: 50px;
}

#DFE{
  position: fixed;
  top: 500px;
  left: 50px;
  z-index: 5;
  font-size: 20pt;
  display: none;
}

#DFM{
  position: fixed;
  top: 500px;
  left: 50px;
  z-index: 5;
  font-size: 20pt;
  display: none;
}

#DFC{
  position: fixed;
  top: 500px;
  left: 50px;
  z-index: 5;
  font-size: 20pt;
  display: none;
}
