body{
  background-color: #2e3442;
  font-family: Helvetica;
  font-size: 14pt;
}

h1{
  color: #babcc1;
  position:
}

h2{
  color: #87898e;
}

p{
  color: #a4b8d8;
}

a{
  color: #515151;
}

#navBar{
  position: sticky;
  top: 0%;
  right: 0%;
}

#Stanford{
  color: #e0e1e2;
}

#DoubleD{
  color: #e0e1e2;
  position: sti
}

#anniTitle{
  color: #babcc1;
  font-size: 100px;
  position: fixed;
  top: 75px;
  left: 50px;
}

#newClass{
  color: #babcc1;
  font-size: 200px;
}

#DFXIntro{
  position: fixed;
  width: 500px;
  top: 100px;
  right: 50px;
}
